*{
    font-family: "Michroma", sans-serif;
    font-weight: 400;
}

body{
    background-color: black;
}

.resaltar{
    color: rgb(243, 9, 9) !important;
    text-shadow: 2px 2px 4px #000000;
}

.transparecia{
    background-color: #21252966 !important;
}

/*--------------INDEX---------------*/

#div-index{
    background-image: url(assets/images/fondo-ring.jpg);
    background-position: center;
    background-size: cover; 
    height: 100vh;
}

#index{
    max-width: 70vw;
    padding: 30px;
    height: auto;
}
#flecha-abajo{
    width: 7vh;
    height: auto;
    transition: all 0.2s ease-in-out;
    animation: rebote 0.8s infinite alternate;
}
#flecha-abajo:hover{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.desaparecer{
    opacity: 0 !important;
    transition: opacity 1s ease-out;
}

/*----------NAV------------------*/
#navegacion{
    background-color: rgba(0, 0, 0, 0.85) !important;
    backdrop-filter: blur(10px);
}
#imagen-boton{
    transition: all 0.2s ease-in-out;
}
.rotar{
    transform: rotate(180deg);
}

/*---------------INFO----------------*/

#div-logos img{
    width: 15%;
    height:auto;
    border-radius: 10px;
    
}
#div-logos img:hover{
    box-shadow: -3px 3px 7px rgb(243, 9, 9),
                3px -3px 7px rgb(243, 9, 9);
    transition: all 0.1s ease-in;
}

#cuenta-atras{
    font-size: 2rem;
    color: #ff4d4d;
    animation: latido 4s infinite alternate;
}

/*--------------COMBATES---------------*/
.combates{
    background-color: #3a3a3e !important;
    height: auto;
}
.combates:hover {
    background-color: #4d2323a1 !important;
    box-shadow: -5px 5px 8px #000000;
    transition: all 0.1s ease-in-out;
}

.mostrar-info{
    display: flex !important;
}

.infoextracombates{
    flex-wrap: nowrap !important; 
}

.infoextracombates img{
    width: 20vw;
    height: auto;
    min-width: 50px;
    max-width: 170px;
}

.div-info{
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000000;
    min-width: 250px;
    width: 100%;
}
/*--------------MAPA----------------*/

#mapa{
    max-width: 100%;
}

/*--------------ANIMACIONES-y-MQ---------*/

@keyframes rebote{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }   
}
@keyframes latido{
    0%{ transform: scale(1);
        text-shadow: 4px 4px 4px #000000; 
    }
    50%{transform: scale(1.05);
        text-shadow: 2px 2px 5px #ff0000
    }
    100%{transform: scale(1);
        text-shadow: 4px 4px 4px #000000
    }   
}

@media (max-width: 768px){
    #div-logos img{
        width: 20%;
    }
    .infoextracombates{
        flex-wrap: wrap !important; 
    }
    .infoextracombates img{
        width: 40vw;
        margin-bottom: 8px;
    }
    .div-info{
        min-width: auto;
        margin: 10px;
    }
}