*{
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.resaltar{
    color: rgb(243, 9, 9) !important;
    text-shadow: 2px 2px 4px #000000;
}

body{
    background-color: black;
}

#navegacion{
    background-color: rgba(0, 0, 0, 0.85) !important;
    backdrop-filter: blur(10px);
}
#imagen-boton{
    transition: all 0.2s ease-in-out;
}

.rotar{
    transform: rotate(180deg);
}

.combates{
    background-color: #3a3a3e !important;
}
.combates:hover {
    background-color: #4d2323a1 !important;
    box-shadow: -5px 5px 8px #000000;
    transition: all 0.1s ease-in-out;
}

#div-index{
    background-image: url(assets/images/fondo-ring.jpg);
    background-position: center;
    background-size: cover; 
    height: 100vh;
}

#index{
    max-width: 70vw;
    padding: 30px;
    height: auto;
}
#flecha-abajo{
    width: 7vh;
    height: auto;
    transition: all 0.2s ease-in-out;
    animation: rebote 0.8s infinite alternate;
}
#flecha-abajo:hover{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.desaparecer{
    opacity: 0 !important;
    transition: opacity 1s ease-out;
}

#div-logos img{
    width: 10%;
    height:auto;
    border-radius: 10px;
}

#mapa{
    max-width: 100%;
}

.transparecia{
    background-color: #21252966 !important;
}

.mostrar-info{
    display: flex !important;
}

.infoextracombates img{
    width: 30%;
    height: auto;
}

.div-info{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 5px #000000;
    min-width: 250px;
    margin: 20px;
}

@keyframes rebote{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }   
}