body{
    background-color: black;
}

.combates{
transition: all 0.1s ease-in-out;
}

.combates:hover {
    background-color: #ff4d4d !important;
    /*SOMBRA TIPO BOTON*/
    box-shadow: -5px 5px 8px #000000;
    transition: all 0.1s ease-in-out;
}

#div-index{
    background-image: url(assets/images/fondo-ring.jpg);
    background-position: center;
    background-size: cover; 
    height: 100vh;
}

#index{
    max-width: 70vw;
    padding: 30px;
    height: auto;
}
#flecha-abajo{
    width: 9vh;
    height: auto;
    transition: all 0.2s ease-in-out;
    animation: rebote 0.8s infinite alternate;
}
#flecha-abajo:hover{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.desaparecer{
    opacity: 0 !important;
    transition: opacity 1s ease-out;
}

.mostrar-info{
    display: flex !important;
}

.infoextracombates img{
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}


@keyframes rebote{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }   
}